@model ControlsTest.Models.ProductlistViewModel
@using ControlsTest.Controllers
@{
    ViewData["Title"] = "Immediate grid test";
}
<style>
    tfoot .pagination,  thead .pagination{margin: 0;}
</style>
<h2>@ViewData["Title"].</h2>
<div id="grid_container">
    @Html.Partial("_gridIndex", Model)
</div>

@section Scripts {
    <link href="~/lib/awesomplete/awesomplete.css" rel="stylesheet" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
    <script src="~/lib/mvcct-controls/mvcct.controls.js"></script>
    
<script src="~/lib/mvcct-controls/modules/mvcct.controls.ajax.js"></script>
}

