@model Object
@using MvcControlsToolkit.Core.TagHelpers

@{
    var options = ViewData["Options"] as DefaultServerQueryWindowLayoutOptions;
    var id = Html.GenerateIdFromName(options.Name + "_window");
}
<div style="display:none" data-class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="@(id+"_label")">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="@(id+"_label")">@options.Header</h4>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("ServerQueries/DefaultInLineQueryLayoutTemplate", ViewData)
            </div>
        </div>
    </div>
</div>
